.title {
    border-bottom: 2px thick #ffffff;
}

.color-title {
    color: #ffffff;
}

.jumbotron {
    background: none
}

img {
    // opacity: 0.5;
}

.container {
    width: 45%;
}

.card {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-style{ 
    border: none;
    border-right:    3px solid hsla(200, 10%, 50%,100);
    width:          1px;       
    margin: 0px;
}

hr {
    border: 0;
    border-bottom: 1px solid #ffffff;
}

h1 {
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 100px;
    font-weight: bold;
    color: #ffffff;    
}

h5 {
    font-weight: bold;
}

h2 {
    font-size: 49px;
    color: #ffffff;
    font-weight: bold;
}

.box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;  
    min-height: 200px;
    width: 50vw;
    // margin: 100px auto;
    background: white;
    border-radius: 5px;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: linear-gradient(
     white, white 50%, #333 50%, #333
    );
    background-size: 100% 202%;
    animation: up-bump 0.4s ease;
    background-position: 100% 100%;
    // background: black;
    h5 {
        color: #48ad26;
    }
    cursor: grab;
}

@keyframes up-bump {
    0% { padding-top: 2em; }
    50% { padding-top: 1.5em; }
    100% { padding-top: 2em; }
}
@keyframes down-bump {
    0% { padding-top: 2em; }
    50% { padding-top: 2.5em; }
    100% { padding-top: 2em; }
}