img {
    height: 65px;
}

.skills {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.marginbottom {
    margin-bottom: 20px;
}

.imgMiddle {
    display: flex;
    justify-content: center;
}