<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Hi! I'm</h1> 
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>YAR ZAR,</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Software Developer!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-outline-success btn-lg">Get to Know Me</button>
        </div>
    </div>
</div>