<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="animated pulse">Hi! I'm</h1> 
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="animated pulse">YAR ZAR,</h1>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-12">
            <h2>Software Developer!</h2>
        </div>
    </div> -->
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-success btn-lg animated infinite bounce" [routerLink]="['/overview']">Get to Know Me</button>
        </div>
    </div>
</div>