.container {
  width: 100%;
  height: 100%;
  // background: #f1f9f9;
  // margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 125px;
  font-weight: bold;
  //   color: #ffffff;
  color: #5b5656;
}

.pulse:hover {
  animation-duration: infinite;
  animation-iteration-count: infinite;
}

.bounce:hover {
  animation-duration: 0s;
  animation-delay: 0s;
}

.whole {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
    margin: 0px;
}