<div *ngIf="!isLoading" class="row whole">
    <div class="col-12">
        <div class="d-flex justify-content-center">
            <div class="spinner-grow" style="width: 13rem; height: 13rem;color: #ff8a5c;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isLoading" class="container">
    <div class="row animated lightSpeedIn">
        <div class="col-12">
            <h1 class="animated pulse">Hi! I'm</h1>
        </div>
    </div>
    <div class="row animated lightSpeedIn">
        <div class="col-12">
            <h1 class="animated pulse">YAR ZAR,</h1>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-12">
            <h2>Software Developer!</h2>
        </div>
    </div> -->
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-success btn-lg animated infinite bounce"
                [routerLink]="['/overview']">Get to Know Me</button>
        </div>
    </div>
</div>